
/**
 * Global variables
 */

$defaultFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$defaultFontSize: 14px;

$mobileMaxWidth: 767px;

$tabletMinWidth: 768px;
$tabletMaxWidth: 991px;

$desktopMinWidth: 992px;