<div class="forgot-password" ng-controller="ForgotPasswordController">

  <div class="container">
    <h1><a ng-click="back()"><i class="ion-ios-arrow-back"></i></a>{{ 'Forgot Password?' | lang }}</h1>
    <div class="content">

      <div class="wrap">
        <form class="default" ng-submit="request()">
          <p>
            Type your email address below. We will send you an instruction on how to reset your password
          </p>
          <div class="inputs">
            <div class="input email">
              <input ng-disabled="busy" type="email" placeholder="{{ 'your email address' | lang }}" name="email" ng-model="email" />
              <button ng-disabled="busy" type="submit">
                <i class="ion-android-exit"></i>
              </button>
            </div>
            <div class="message" ng-class="{ success: success, error: !success }">{{ message }}</div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>