<div class="venue-edit" ng-controller="EditVenueController" ng-click="hideDatepicker()">

  <div class="container">
    <h2>
      <a ui-sref="profile">
        <photo>
          <i class="ion-android-contact"></i>
        </photo>
      </a>
      <span>{{ 'Edit venue' | lang }}</span>
    </h2>
    <div class="form">
      <form class="default" ng-submit="form.submit()">
        <div class="inputs">
          <div class="input owner" ng-class="{ max: (form.input.owner.length > 0) }" ng-if="admin">
            <label>
              <i class="icon ion-person"></i>
              <tags-input name="owner" ng-model="form.input.owner" key-property="_id" display-property="fullname" placeholder="{{ 'choose an existing owner' | lang }}" template="tag-template" add-from-autocomplete-only="true" replace-spaces-with-dashes="false">
                <auto-complete source="form.loadUsers($query)" min-length="1" debounce-delay="1200" template="autocomplete-template"></auto-complete>
              </tags-input>
            </label>
            <div class="message error" ng-class="{ show: blurred('owner') && !form.input.owner.length }">{{ 'Please select an owner' | lang }}</div>
          </div>
          <div class="input type has-set">
            <i class="icon ion-home"></i>
            <div class="wrap">
              <h6>{{ 'venue type' | lang }}</h6>
              <div class="set">

                <div ng-repeat="type in form.types track by $index">
                  <div class="checkbox" ng-class="{ active: form.typeIsActive(type.name) }">
                    <label>
                      <i class="ion-android-checkbox-outline{{ form.typeIsActive(type.name) ? '': '-blank' }}"></i>
                      <input name="venueTypes" ng-click="blur('venueTypes')" type="checkbox" checklist-model="form.input.venueTypes" checklist-value="type.name" />
                      <span class="title">{{ type.title | lang }}</span>
                    </label>
                  </div>
                  <div ng-show="form.typeIsActive(type.name)" class="checkbox indent" ng-class="{ active: form.typeIsActive(subtype.name) }" ng-repeat="subtype in type.sub track by $index">
                    <label>
                      <i class="ion-android-checkbox-outline{{ form.typeIsActive(subtype.name) ? '': '-blank' }}"></i>
                      <input name="venueTypes" ng-click="blur('venueTypes')" type="checkbox" checklist-model="form.input.venueTypes" checklist-value="subtype.name" />
                      <span class="title">{{ subtype.title | lang }}</span>
                    </label>
                  </div>
                </div>

              </div>
            </div>
            <div class="message error" ng-class="{ show: blurred('venueTypes') && !form.input.venueTypes.length }">{{ 'Please choose at least one venue type' | lang }}</div>

            <div ng-if="blurred('venueTypes') && form.input.venueTypes.length">
              <div class="message error show" ng-repeat="error in requiredVenueTypes()">{{ error }}</div>
            </div>

          </div>
          <div class="input name">
            <label>
              <i class="icon ion-flag"></i>
              <input type="text" placeholder="{{ 'venue name' | lang }}" name="name" ng-model="form.input.name" ng-blur="blur('name')" />
            </label>
            <div class="message error" ng-class="{ show: blurred('name') && !form.input.name }">{{ 'Please add venue name' | lang }}</div>
          </div>
          <div class="input address" ng-class="{ max: (form.input.address.country.length > 0) }">
            <label>
              <i class="icon ion-map"></i>
              <input ng-blur="blur('address')" class="line1" type="text" placeholder="{{ 'venue address' | lang }}" name="address.line1" ng-model="form.input.address.line1" />
            </label>
            <input ng-blur="blur('address')" class="city" type="text" placeholder="{{ 'venue city' | lang }}" name="address.city" ng-model="form.input.address.city" />
            
            <label class="country">
              <i class="icon ion-earth"></i>
              <tags-input name="address.country" ng-model="form.input.address.country" key-property="_id" display-property="name" placeholder="{{ 'venue country' | lang }}" template="tag-template" add-from-autocomplete-only="true" replace-spaces-with-dashes="false">
                <auto-complete source="form.loadCountries($query)" min-length="1" debounce-delay="1200" template="autocomplete-template"></auto-complete>
              </tags-input>
            </label>

            <div class="message error" ng-class="{ show: blurred('address') && (!form.input.address.line1 || !form.input.address.city) }">{{ 'Please check your address' | lang }}</div>
            <div class="message error" ng-class="{ show: blurred('address') && (form.input.address.city && !isValidCity()) }">{{ 'Please enter a valid city name' | lang }}</div>
            <div class="message error" ng-class="{ show: blurred('address') && addressError }">{{ addressError | lang }}</div>
            <div class="message error" ng-class="{ show: blurred('address.country') && !form.input.address.country.length }">{{ 'Please enter a valid country' | lang }}</div>

            <div class="map">
              <gmap options="map.options" latitude="form.input.address.coordinates.latitude" longitude="form.input.address.coordinates.longitude" zoom="map.zoom" init="map.init" change="map.change"></gmap>
            </div>

          </div>
          <div class="input information">
            <label>
              <i class="icon ion-ios-information"></i>
              <textarea placeholder="{{ 'information' | lang }}" name="description" ng-model="form.input.description" ng-blur="blur('description')"></textarea>
            </label>
            <div class="message error" ng-class="{ show: blurred('description') && !form.input.description }">{{ 'Please add the basic information about the venue' | lang }}</div>
          </div>
          <!--
          <div class="input admission-fee has-set">
            <i class="icon ion-social-euro"></i>
            <div class="wrap">
              <h6>{{ 'admission fee' | lang }}</h6>
              <div class="set">
                <div class="radio" ng-repeat="admissionFee in form.admissionFees track by $index" ng-class="{ active: form.admissionFeeActive(admissionFee.name) }">
                  <label>
                    <i class="ion-android-radio-button-{{ form.admissionFeeActive(admissionFee.name) ? 'on': 'off' }}"></i>
                    <input name="admissionFee" type="radio" ng-model="form.input.admissionFee" ng-checked="form.admissionFeeActive(admissionFee.name)" value="{{ admissionFee.name }}" />
                    <span class="title">{{ admissionFee.title | lang }}</span>
                    <div ng-if="admissionFee.hint" class="hint">
                      ({{ admissionFee.hint | lang }})
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
          -->
          <div class="input admission-fee">
            <label>
              <i class="icon ion-social-euro"></i>
              <input type="text" placeholder="{{ 'Enter admission fee(s) and currency' | lang }}" name="admissionFee" ng-model="form.input.admissionFee" ng-blur="blur('admissionFee')" />
            </label>
            <div class="message error" ng-class="{ show: blurred('admissionFee') && !form.input.admissionFee }">{{ 'Please add admission fee' | lang }}</div>
          </div>
          <div class="input website">
            <label>
              <i class="icon ion-monitor"></i>
              <input ng-focus="setDefaultUrl()" ng-blur="removeDefaultUrl()" type="text" placeholder="{{ 'website' | lang }}" name="website" ng-model="form.input.website" />
            </label>
            <!--
            <div class="message error" ng-class="{ show: !form.input.website }">{{ 'Please check the url' | lang }}</div>
            -->
          </div>
          <div class="input phone">
            <label>
              <i class="icon ion-iphone"></i>
              <input type="text" placeholder="{{ 'phone number' | lang }}" name="phone" ng-model="form.input.phone" />
            </label>
          </div>
          <div class="input email">
            <label>
              <i class="icon ion-at"></i>
              <input type="text" placeholder="{{ 'e-mail' | lang }}" name="email" ng-model="form.input.email" ng-blur="blur('email')" />
            </label>
            <div class="message error" ng-class="{ show: blurred('email') && !validateEmail() }">{{ 'Please check the e-mail address' | lang }}</div>
          </div>

          <div class="input opening-hours">
            <i class="icon ion-android-time"></i>
            <!--<textarea placeholder="opening hours" name="openingHours" ng-model="form.input.openingHours"></textarea>-->
            <div class="days">

              <div class="day group appointment">
                <label ng-click="toggleAppointment()">
                  <i class="ion-android-checkbox-outline{{ form.input.openByAppointment ? '': '-blank' }}"></i>
                  <span class="title" ng-class="{ white: form.input.openByAppointment }">{{ 'open by appointment' | lang }}</span>
                </label>
              </div>
              
              <div class="day group special" ng-class="{ disabled: form.input.openByAppointment }" ng-click="$event.preventDefault();$event.stopPropagation();">
                <span class="day">{{ 'Exceptional hours' | lang }}</span>
                <span class="ranges">
                  <span class="range" ng-repeat="range in form.input.specialHours track by $index">
                    <input ng-focus="specialDateFocused($index)" class="date" type="text" placeholder="{{ 'select date' | lang }}" value="{{ range.date | amDateFormat:'DD.MM.YYYY' }}" />
                    <select ng-model="range.startHour" ng-options="hour as (hour | time) for hour in hours"></select>
                    <span>-</span>
                    <select ng-model="range.endHour" ng-options="hour as (hour | time) for hour in hours"></select>
                    <a class="add-range" ng-click="addSpecial()"><i class="ion-plus-circled"></i></a>
                    <a class="remove-range" ng-click="removeSpecial($index)"><i class="ion-close-circled"></i></a>
                  </span>
                </span>

                <div class="tickboxes">
                  <div class="tickbox close-on" ng-click="closeSpecial()">
                    <label>
                      <i class="ion-android-checkbox-outline{{ isClosedSpecial() ? '': '-blank' }}"></i>
                      <span class="title">{{ 'closed' | lang }}</span>
                    </label>
                  </div>
                </div>

              </div>
              <div class="datepicker" ng-show="specialDateIndex == $index" ng-repeat="range in form.input.specialHours track by $index" date-picker="range.date" min-view="date" max-view="date" ng-click="$event.preventDefault();$event.stopPropagation();"></div>
              <div class="day group regular" ng-class="{ disabled: form.input.openByAppointment }" ng-repeat="day in form.input.openingHours track by $index">
                <span class="day">{{ days[day.day] | lang }}</span>
                <span class="ranges">
                  <span class="range" ng-repeat="(rangeIndex, range) in day.hours track by $index">
                    <select ng-model="range.start" ng-options="hour as (hour | time) for hour in hours"></select>
                    <span>-</span>
                    <select ng-model="range.end" ng-options="hour as (hour | time) for hour in hours"></select>
                    <a class="add-range" ng-click="addHoursRange(day.day)"><i class="ion-plus-circled"></i></a>
                    <a class="remove-range" ng-click="removeHoursRange(day.day, rangeIndex)"><i class="ion-close-circled"></i></a>
                  </span>
                </span>

                <div class="tickboxes">
                  <div class="tickbox open-whole-day" ng-click="openWholeDayOn(day.day)">
                    <label>
                      <i class="ion-android-checkbox-outline{{ isOpenWholeDayOn(day.day) ? '': '-blank' }}"></i>
                      <span class="title">{{ 'open whole day' | lang }}</span>
                    </label>
                  </div>
                  <div class="tickbox close-on" ng-click="closeOn(day.day)">
                    <label>
                      <i class="ion-android-checkbox-outline{{ isClosedOn(day.day) ? '': '-blank' }}"></i>
                      <span class="title">{{ 'closed' | lang }}</span>
                    </label>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!--
          <div class="input exceptional-opening-hours">
            <label>
              <i class="icon ion-ios-calendar"></i>
              <input type="text" placeholder="{{ 'exceptional opening hours (eg holidays)' | lang }}" name="exceptionalOpeningHours" ng-model="form.input.exceptionalOpeningHours" />
            </label>
          </div>
          -->
          
          <!--
          <div class="input written-in-media">
            <label>
              <i class="icon ion-speakerphone"></i>
              <input type="text" placeholder="{{ 'written in media' | lang }}" name="writtenInMedia" ng-model="form.input.writtenInMedia" />
            </label>
          </div>
          -->

          <div class="input links">
            <i class="icon ion-speakerphone"></i>
            <div class="links group">
              <span class="title">{{ 'links to other pages' | lang }}</span>
              <span class="links">
                <span class="link" ng-repeat="link in form.input.links track by $index">
                  <div>
                    <input class="title" type="text" ng-model="link.title" placeholder="{{ 'title' | lang }}" />
                    <a class="add-range" ng-if="$last" ng-click="addLink()"><i class="ion-plus-circled"></i></a>
                    <a class="remove-range" ng-if="form.input.links.length > 1" ng-click="removeLink($index)"><i class="ion-close-circled"></i></a>
                  </div>
                  <div>
                    <input class="url" type="text" ng-model="link.url" placeholder="{{ 'url' | lang }}" />
                  </div>
                </span>
              </span>
            </div>
          </div>

          <div class="input photos">
            <label>
              <i class="icon ion-image"></i>
              <span ng-click="blur('photos')" ngf-select ngf-capture="'camera'" ng-model="files" class="label file" ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'image/*'" ngf-change="upload($files)">{{ 'load images' | lang }}</span>
            </label>
            <div class="uploaded">
              <span id="photo-{{ photo.id }}" class="photo" ng-class="{ loading: photo.loading }" ng-repeat="photo in photos track by $index">
                <i class="icon ion-close" ng-click="removePhoto(photo.id)"></i>
                <img ng-src="{{ (root + photo.source) | thumb:'0x100' }}" />
              </span>
            </div>
            <div class="message error" ng-class="{ show: blurred('photos') && !photos.length }">{{ 'Please load at least one as the banner image of the venue' | lang }}</div>
          </div>
        </div>
        <div class="buttons">
          <span ng-class="{ empty: !form.response.message, success: form.response.success, error: !form.response.success }" class="message">{{ form.response.message | lang }}</span>
          <button type="submit" class="submit rotate-90"><i class="ion-android-exit"></i></button>
          <button type="button" class="submit delete distance" ng-click="confirmDelete = true"><i class="ion-trash-a"></i></button>
          <a class="button create-event" ui-sref="exhibition-create({ venue: venue.permalink })">create event <i class="ion-ios-compose"></i></a>
        </div>
      </form>
    </div>
  </div>

  <script type="text/ng-template" id="tag-template">
    <div class="tag-template">
      <photo ng-if="data.name.full || data.fullname" user="data" />
      <span>{{ data.name.full || data.name || data.fullname }}</span>
      <a class="remove-button" ng-click="$removeTag()"><i class="ion-close-circled"></i></a>
    </div>
  </script>

  <script type="text/ng-template" id="autocomplete-template">
    <div class="autocomplete-template">
      <photo ng-if="data.name.full || data.fullname" user="data" />
      <span ng-bind-html="$highlight($getDisplayText())"></span>
    </div>
  </script>

  <confirm data-show="confirmDelete">
    <div class="confirm-wrap">
      <div ng-if="this.$parent.activeEvents.length">
        <h3>{{ 'This venue is currently being used by the following active events' | lang }}</h3>
        <ul>
          <li ng-repeat="exhibition in $parent.$parent.activeEvents">
            <a ui-sref="exhibition({ permalink: exhibition.permalink })">{{ exhibition.name }} <i class="ion-android-exit"></i></a>
          </li>
        </ul>
        <div class="buttons">
          <button ng-click="$cancel()"><i class="ion-android-cancel"></i> {{ 'Cancel' | lang }}</button>
        </div>
      </div>
      <div ng-if="!this.$parent.activeEvents.length">
        <h3>{{ 'Are you sure you want to delete this venue?' | lang }}</h3>
        <div class="buttons">
          <button ng-click="$parent.$parent.delete()"><i class="ion-trash-a"></i> {{ 'Delete' | lang }}</button>
          <button ng-click="$cancel()"><i class="ion-android-cancel"></i> {{ 'Cancel' | lang }}</button>
        </div>
      </div>
    </div>
  </confirm>

  <redirector data-state="redirect" data-seconds="3">
    <div class="redirector-wrap">
      <h2>{{ 'Venue successfully created' | lang }}</h2>
      <h4>{{ 'You are now being redirected to the venue page in (%%) second(s)' | lang:[$seconds] }}</h4>
    </div>
  </redirector>

</div>
