
@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: bolder;
	src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Bold.otf');
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 200;
	src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Light.otf');
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: bold;
	src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Medium.otf');
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: normal;
	src: url('../fonts/BrandonGrotesque/BrandonGrotesque-Regular.otf');
}

@font-face {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/PTSerif/PTSerifWeb-Bold.ttf');
}

@font-face {
	font-family: 'PT Serif';
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/PTSerif/PTSerifWeb-BoldItalic.ttf');
}

@font-face {
	font-family: 'PT Serif';
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/PTSerif/PTSerifWeb-Italic.ttf');
}

@font-face {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/PTSerif/PTSerifWeb-Regular.ttf');
}
