
photo {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background: #333;
  background-size: cover;
  background-position: center center;
  width: 100px;
  height: 100px;

  i {
    vertical-align: top;
    display: inline-block;
  }

  &.sourced {

    i {
      display: none;
    }
  }
}