
> .where {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #000;
  display: none;
  overflow: auto;

  &.active {
    display: block;
  }

  h2 {
    margin-top: 30px;
    clear: both;
    width: 100%;
    display: inline-block;

    span.title {
      text-transform: uppercase;
      float: left;
      font-size: 1.35em;
    }

    .input {
      width: 320px;
      box-sizing: border-box;
      padding: 6px 8px 5px 8px;
      display: block;
      margin: -6px auto 0px auto;
      background-color: #171717;
      border-radius: 4px;
      vertical-align: top;

      i {
        font-size: 1.7em;
        width: 28px;
        background-position: left center;
        vertical-align: top;
      }
      input {
        width: 263px;
        vertical-align: top;
        padding: 0px 4px 0px 4px;
        font-size: 1.25em;
        font-weight: 200;
        background-color: #171717;
        color: #ffffff;
        border: 0px none;
        margin-left: 5px;

        @include placeholder {
          color: #808080;
          font-family: 'PT Serif';
          font-style: italic;
          font-size: 0.7em;
          padding-top: 4px;
        }
      }

      @include mobile {
        width: 100%;
        margin-top: 42px;
        padding-top: 3px;
        clear: both;

        i {
          margin-top: 4px;
          width: 14px;
          display: inline-block;
        }

        input {
          width: 246px;
          font-size: 1.5em;
        }
      }
    }

    a.cancel {
      text-transform: uppercase;
      float: right;
      font-size: 0.8em;
    }
  }

  .results {
    margin-top: 12px;
    display: inline-block;
    width: 100%;
    clear: both;

    .result {
      margin-top: 26px;

      h4 {
        text-transform: uppercase;
        font-size: 0.8em;
      }
      ul {
        width: 100%;

        li {
          border-top: 1px #333333 solid;
          display: block;

          &:first-child {
            border-top: 0px none;
            margin-top: 6px;
          }

          a {
            font-size: 1.3em;
            color: #666666;
            padding: 9px 0px 15px 0px;
            display: inline-block;
          }

          &.active {

            a {
              color: #3fa1ed;
            }
          }
        }
      }
    }
  }

}